{{> head}}
{{> navbar}}
   
   <div class="row">
       <div class="col-8">
           <h1>Imagen de Muestra</h1>
           <p>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, aperiam!
           </p>
       </div>
       <div class="col-4">
           <img class="img-thumbnail" src="assets/img/imagen.jpg" alt="">
       </div>
   </div>

{{> footer}}